<%- model_class = Workout.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:equipment) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr>
        <td><%= link_to workout.id, workout_path(workout) %></td>
        <td><%= workout.title %></td>
        <td><%= simple_format(workout.description) %></td>
        <td><% workout.equipment.each do |equipment| %><%= equipment.name %><br /><% end %></td>
        <td><%= workout.source %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_workout_path(workout), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      workout_path(workout),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_workout_path,
            :class => 'btn btn-primary' %>
