<%- model_class = @workout.class -%>
<div class="page-header">
  <h1>Get a Random CrossFit Workout</h1>
</div>
<%= form_tag({:controller => "workouts", :action => "random"}) do %>
<p>Choose your available equipment:<br />
  <div class="control-group">
    <div class="controls equipment">
    <%= hidden_field_tag "workout[equipment_ids][]", nil %>
    <% Equipment.all.each do |equipment| #loop through all Equipment objects %>
      <%= check_box_tag "workout[equipment_ids][]", equipment.id, false, id: dom_id(equipment) %>
      <%= label_tag dom_id(equipment), equipment.name %><br>
    <% end %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag "Get Workout", :class => 'btn btn-primary' %>
  </div>
<% end %>
<p><%=link_to "Add a minimal equipment workout", new_workout_path %></p>
