<%= render :partial => 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="span3">
        <h2>WorkoutX</h2>
        <p>WorkoutX provides a random CrossFit workout based on the equipment you have available to you. Ideal for working out while on the go, travelling, in your lunch break or any other time you have access to limited equipment.</p>
        <br />
        <h3>What is CrossFit?</h3>
        <p>CrossFit workouts are constantly varied, high intensity workouts that focus on functional movements to improve fitness and general physical preparedness. You can learn more at <%= link_to 'CrossFit.com', 'http://crossfit.com' %>.</p>
      </div>
      <div class="span1">
        &nbsp;
      </div>
      <div class="span8">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">x</a>
            <%= msg %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
